# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

Pessoa (__id__, gender, age)  
Medicamento (__code__, name)  
Uso (person_id, drug_code, days_use)

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [6]:
DROP TABLE Pessoa IF EXISTS;
DROP TABLE Medicamento IF EXISTS;
DROP TABLE Uso IF EXISTS;

In [7]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

In [8]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [9]:
CREATE TABLE Medicamento (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100),
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

In [10]:
SELECT * FROM Medicamento;

In [11]:
CREATE TABLE Uso (
  Person_Id VARCHAR(5) NOT NULL,
  Drug_Code VARCHAR(6) NOT NULL,
  Days_Use INTEGER,
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [12]:
SELECT * FROM Uso;

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [13]:
SELECT * FROM Pessoa P 
WHERE P.age > 60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [14]:
SELECT DISTINCT P.age
FROM Pessoa P;

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [16]:
SELECT P.id, P.age,
       U.drug_code, U.days_use
FROM Pessoa P JOIN Uso U
ON P.id = U.person_id;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [17]:
SELECT P.id, P.age,
       M.name,
       U.days_use
FROM Pessoa P JOIN Medicamento M JOIN Uso U
ON P.id = U.person_id AND
   M.code = U.drug_code;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [18]:
SELECT DISTINCT M.name FROM Medicamento M, Uso U
WHERE M.code = U.drug_code;

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [19]:
SELECT DISTINCT M.name FROM Medicamento M, Uso U
WHERE M.code = U.drug_code
AND U.days_use > 2000;